<div class="popup popup-content" style="margin-top: 65px;">
    <div class="cols" style="align-items: center;">
        <div class="col">
            <h1>We want your articles!</h1>
            <p>Consider writing content for Dashword and get your voice heard. We are always looking for new content and will gladly welcome you to our team of authors.</p>
            <a href="/how-to-post-an-article/" class="button button-big button-wide">Read The Posting Guide</a>
        </div>
    </div>
</div>