<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% if pagetitle %}{{ pagetitle }}{% else %}{{ title }} — {{ site.title }}{% endif %}</title>
    <meta name="title" content="{% if pagetitle %}{{ pagetitle }}{% else %}{{ title }} — {{ site.title }}{% endif %}">
    <meta name="description" content="{{ desc or site.desc }}">
    {% if date %}<meta name="date" content="{{ page.date | readableDate }}">{% endif %}

    <meta name="theme-color" content="#2D88FF">
    <link rel="icon" href="{{ site.icon }}">

    <!-- CSS -->
    <link href="/assets/css/index.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Opengraph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:title" content="{% if pagetitle %}{{ pagetitle }}{% else %}{{ title }} — {{ site.title }}{% endif %}">
    <meta property="og:description" content="{{ desc or site.desc }}">
    <meta property="og:image" content="{{ image or site.image }}">

    <!-- Twitter since they're different or something -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ site.url }}">
    <meta property="twitter:title" content="{% if pagetitle %}{{ pagetitle }}{% else %}{{ title }} — {{ site.title }}{% endif %}">
    <meta property="twitter:description" content="{{ desc or site.desc }}">
    <meta property="twitter:image" content="{{ image or site.image }}">
</head>
<body>

    <!-- MENU -->
    <div class="menu" id="menu">
        <span class="menu-icon ri-close-line" onclick="closeMobile()"></span>
        <a href="/" class="menu-item">Home</a>
        <a href="/posts/" class="menu-item">Articles</a>
        <a href="/categories/" class="menu-item">Categories</a>
        <a href="/about/" class="menu-item">About</a>
        <span class="menu-item btn-toggle-2"><span class="ri-moon-line btn-toggle-mobile"></span></span>
    </div>
    <div class="menu-bg" id="menu-bg" onclick="closeMobile()"></div>
    <!-- END MENU -->
    
    <!-- NAVBAR -->
    <div class="navbar-wrapper">
        <div class="navbar container">
            <div class="left">
                <div class="socials mobile">
                    <span href="#" class="ri-menu-2-line mobile-bars" onclick="openMobile()"></span>
                </div>
                <div class="links pc">
                    <a href="/" class="link">Home</a>
                    <a href="/posts/" class="link">Articles</a>
                    <a href="/categories/" class="link">Categories</a>
                    <a href="/about/" class="link">About</a>
                </div>
            </div>
            <div class="center">
                <a class="logo" href="/">
                    <!--<span class="ri-volume-up-line" style="color: var(--primary); margin-right: 10px;"></span>--><img src="/assets/img/icon.svg" alt="{{ site.title }}"> <span class="xmobile">{{ site.title }}</span>
                </a>
            </div>
            <div class="right">
                <div class="socials mmobile" style="margin-right: 5px;">
                    <span class="ri-moon-line btn-toggle"></span>
                    <a href="/handbook/" class="ri-question-line smobile"></a>
                    <!--<a href="#" class="ri-instagram-fill"></a>
                    <a href="#" class="ri-twitter-fill"></a>-->
                </div>
                <a class="button" href="{{ site.discordinvite }}"><span class="ri-discord-fill button-icon"></span> Community</a>
            </div>
        </div>
    </div>
    <div class="navbar-displace"></div>
    <!-- END NAVBAR -->

    <script>
        /*************************************/
        // Dark Mode
        /*************************************/

        const btn = document.querySelector(".btn-toggle");
        const btn2 = document.querySelector(".btn-toggle-2");
        const btn3 = document.querySelector(".btn-toggle-mobile");

        const currentTheme = localStorage.getItem("theme");
        if (currentTheme == "dark") {
            document.body.classList.add("darkmode");
            btn.classList.add("ri-sun-line");
            btn.classList.remove("ri-moon-line");
            btn3.classList.add("ri-sun-line");
            btn3.classList.remove("ri-moon-line");
        } else {
            btn.classList.remove("ri-sun-line");
            btn.classList.add("ri-moon-line");
            btn3.classList.remove("ri-sun-line");
            btn3.classList.add("ri-moon-line");
        }

        btn.addEventListener("click", function () {
            themeToggle();
        });

        btn.addEventListener("keydown", function () {
            if (event.keyCode === 13) {
                themeToggle();
            }
        });

        btn2.addEventListener("click", function () {
            themeToggle();
        });

        btn2.addEventListener("keydown", function () {
            if (event.keyCode === 13) {
                themeToggle();
            }
        });

        function themeToggle() {
            dmTest();
            document.body.classList.toggle("darkmode");

            let theme = "light";
            if (document.body.classList.contains("darkmode")) {
                theme = "dark";
            }
            localStorage.setItem("theme", theme);
        }

        function dmTest() {
            if (!document.body.classList.contains("darkmode")) {
                btn.classList.add("ri-sun-line");
                btn.classList.remove("ri-moon-line");
                btn3.classList.add("ri-sun-line");
                btn3.classList.remove("ri-moon-line");
            } else {
                btn.classList.remove("ri-sun-line");
                btn.classList.add("ri-moon-line");
                btn3.classList.remove("ri-sun-line");
                btn3.classList.add("ri-moon-line");
            }
        }
    </script>

    {{ content | safe }}

    <!-- POPUP CONTENT -->
    <div class="container">
        <div class="popup popup-content">
            <div class="cols" style="align-items: center;">
                <div class="col">
                    <h1>Join The Community</h1>
                    <p>Like what you see? Consider joining us on Discord for news, contests, events, and more!</p>
                </div>
                <div class="col">
                    <a href="{{ site.discordinvite }}" class="button button-big button-wide">Join us on Discord</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END POPUP CONTENT -->

    <!-- FOOTER -->
    <div class="footer-wrapper">
        <div class="footer container">
            <div class="cols">
                <div class="col">
                    <h1>{{ site.title }}</h1>
                    <p>
                        {{ site.desc }}
                    </p>
                </div>
                <div class="col">
                    <h1>Quick Access</h1>
                    <p style="margin-top: -6px;">
                        <a href="/" class="footer-item">
                            Home
                        </a>
                        <a href="/posts/" class="footer-item">
                            Articles
                        </a>
                        <a href="/categories/" class="footer-item">
                            Categories
                        </a>
                        <a href="/about/" class="footer-item">
                            About
                        </a>
                    </p>
                </div>
                <div class="col">
                    <h1>Useful Links</h1>
                    <p style="margin-top: -6px;">
                        <a href="/handbook/" class="footer-item">
                            Content Handbook
                        </a>
                        <a href="/verified/" class="footer-item">
                            Verified Badge
                        </a>
                        <a href="/authors/" class="footer-item">
                            Authors
                        </a>
                    </p>
                </div>
            </div>
            <div class="footer-flex">
                <div class="left">
                    <a class="logo" href="/">
                        {{ site.title }}
                    </a>
                    <span>
                        Copyright © 2021-2022
                    </span>
                </div>
                <div class="right">
                    <span>
                        Website by <a href="/authors/moldymacaronix/">MoldyMacaroniX</a>.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- END FOOTER -->

    <!-- SCRIPTS -->
    <script src="/assets/js/index.js"></script>
    <!-- END SCRIPTS -->
    
</body>
</html>