---
layout: layouts/main.njk
title: Authors
permalink: "/authors/"
desc: All website authors.
---

<h1 class="title" style="margin-bottom: 20px;">All Authors</h1>

<div class="grid-2">
{% for author in authors | sort(attribute='name') %}
<div class="author">
   <div class="cols">
      <div class="author-img">
            <a href="/authors/{{ author.key }}/"><img src="{% if author.photo %}{{ author.photo }}{% else %}{{ site.defaultpfp }}{% endif %}" alt="{{ author.name }}"></a>
      </div>
      <div class="col">
            <span class="name"><a href="/authors/{{ author.key }}/">{{ author.name }}</a> {% if author.verified %}<span class="badge ri-checkbox-circle-fill" data-tooltip="Verified" data-tooltip-position="top" data-tooltip-additional-classes="tooltip"></span>{% endif %}{% if author.twitter %} <a href="https://twitter.com/intent/user?screen_name={{ author.twitter }}" class="follow">Follow</a></span>{% endif %}
            {% if author.bio %}<span class="print truncate">{{ author.bio }}</span>{% endif %}
            <span class="author-links">
               {% if author.youtube %}<a href="https://www.youtube.com/channel/{{ author.youtube }}" class="ri-youtube-fill" data-tooltip="YouTube" data-tooltip-position="top" data-tooltip-additional-classes="tooltip"></a>{% endif %}
               {% if author.twitch %}<a href="https://www.twitch.tv/{{ author.twitch }}" class="ri-twitch-fill" data-tooltip="Twitch" data-tooltip-position="top" data-tooltip-additional-classes="tooltip"></a>{% endif %}
               {% if author.twitter %}<a href="https://twitter.com/{{ author.twitter }}" class="ri-twitter-fill" data-tooltip="Twitter" data-tooltip-position="top" data-tooltip-additional-classes="tooltip"></a>{% endif %}
               {% if author.discord %}<a href="https://discord.gg/{{ author.discord }}" class="ri-discord-fill" data-tooltip="Discord" data-tooltip-position="top" data-tooltip-additional-classes="tooltip"></a>{% endif %}
               {% if author.gdbrowser %}<a href="https://gdbrowser.com/u/{{ author.gdbrowser }}" class="ri-global-fill" data-tooltip="GDBrowser" data-tooltip-position="top" data-tooltip-additional-classes="tooltip"></a>{% endif %}
            </span>
      </div>
   </div>
</div>
{% endfor %}
</div>
