<div class="popup popup-content" style="
margin-top: 65px;
background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(https://media.discordapp.net/attachments/876556679490175036/939025831844524063/InviteBanner.jpg?width=1202&height=676);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: fit-content;
position: relative;
">
    <div class="cols" style="align-items: center;">
        <div class="col">
            <h1>Made possible by the Geometry Dash Creator School</h1>
            <p>Dummy text moment dummy dummy text moment I don't know what to put here.</p>
            <a href="https://discord.gg/SqZuGCpHMm" class="button button-big button-wide">Join The GDCS Discord Sever</a>
        </div>
    </div>
</div>