<div class="popup popup-content" style="
margin-top: 65px;
background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75) ), url(/assets/img/GDCSBannerNoText.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: fit-content;
position: relative;
">
    <div class="cols" style="align-items: center;">
        <div class="col">
            <h1>Made possible by the Geometry Dash Creator School</h1>
            <p>The Geometry Dash Creator School is a place where aspiring creators can turn into experienced level makers!</p>
            <a href="https://discord.gg/SqZuGCpHMm" class="button button-big button-wide">Join The GDCS Discord Sever</a>
        </div>
    </div>
</div>