---
title: Articles
layout: layouts/main.njk
pagination:
    data: collections.pagedPosts
    size: 1
    alias: paged
permalink: "/posts/{% if paged.number > 1 %}{{ paged.number }}/{% endif %}index.html"
---

<h1 class="title" style="margin-bottom: 20px;">All Posts</h1>
<div class="grid-3">
    {% include "partials/post-grid.njk" %}
</div>

{% if collections.posts.length > site.paginate %}
{% include "partials/paginator.njk" %}
{% endif %}