<form class="form" style="margin-top: 50px;">

    <label>Article Title</label>
    <input placeholder="Why Is Geometry Dash 2.2 Taking So Long?">
    <span class="helptxt">Please provide a valid title.</span>

    <label>Article Description</label>
    <textarea placeholder="Geometry Dash 2.2 is taking so long mainly because of platformer mode, the arrow trigger, and versus mode." maxlength="320"></textarea>
    <span class="helptxt">Please provide a valid article description that is only one or two sentences long.</span>

    <label>Article Image (URL)</label>
    <input placeholder="example.com/file.jpg" type="url">
    <span class="helptxt">Don't have a link? See <a>working with images</a>.</span>

    <label>Article File</label>
    <label class="custom-file-upload button button-big button-full" style="margin: 10px 0px;">
        <input type="file" accept=".txt">
        Upload File
    </label>
    <span class="helptxt">Files <a>must be in a .txt format</a>.</span>

    <label>Author ID</label>
    <input placeholder="Cob">
    <span class="helptxt">Don't have an author ID? <a>Create one here</a>.</span>

    <button class="button button-big button-full" style="margin-bottom: 0px;">Submit Article</button>

</form>