<form class="form" style="margin-top: 50px;">

    <label>Profile Username</label>
    <input placeholder="EsmiK" maxlength="80">
    <span class="helptxt">Please provide a valid username.</span>

    <label>Profile Bio</label>
    <textarea placeholder="I'm a Czech GD YouTuber, artist, editor and pretty much mediocre at everything!" maxlength="80"></textarea>
    <span class="helptxt">Please provide a valid profile bio that is only one sentence long.</span>

    <label>Profile Picture (URL)</label>
    <input placeholder="example.com/file.jpg" type="url">
    <span class="helptxt">Don't have a link? See <a>working with images</a>.</span>

    {# Socials #}
    <label>YouTube</label>
    <input placeholder="youtube.com/username" type="url">
    <span class="helptxt">Please provide a valid YouTube link.</span>

    <label>Twitch</label>
    <input placeholder="twitch.tv/username" type="url">
    <span class="helptxt">Please provide a valid Twitch link.</span>

    <label>Discord Server</label>
    <input placeholder="discord.gg/server" type="url">
    <span class="helptxt">Please provide a valid Discord invite link.</span>

    <label>In-game Profile</label>
    <input placeholder="EsmiK" maxlength="80">
    <span class="helptxt">Please provide a valid GDBrowser profile.</span>

    {# Author ID #}
    <label>Author ID</label>
    <input placeholder="EsmiK" maxlength="80">
    <span class="helptxt">This is your unique identifier and is used in the URL to your profile. It cannot be changed, so choose wisely.</span>

    <button class="button button-big button-full" style="margin-bottom: 0px;">Create Profile</button>

</form>